<!-- Modal -->
<div class="modal fade" id="author{{post.author.id}}-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sobre o autor</h5>
            </div>
            <div class="modal-body">
                <h1>{{post.author.name}}</h1>
                <h3>{{post.author.bio}}</h3>
                <h5>e-mail: {{post.author.email}}</h5>
            </div>
        </div>
    </div>
</div>