{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Page Header -->
    <header class="intro-header" >
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Minimum <i class="fa-solid fa-compress"></i></h1>
                        <hr class="small">
                        <span class="subheading">Um blog minimalista sobre tecnologia e inovação</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% for post in list_of_pub_posts %}

                <div class="post-flex-container">

                    <div class="cover-preview">
                        <p><img src="{{post.cover}}" alt="Post Cover"></p>
                    </div>

                    <div class="post-preview">
                        <a href="{{post.slug}}">
                            <h2 class="post-title">
                                {{ post.title|lower|capfirst }}
                            </h2>
                            <h3 class="post-subtitle">
                                {{ post.content|truncatechars:100 }}
                            </h3>
                        </a>
                        {{post.stars}}
                        <p class="post-meta">Postado por <a data-toggle="modal" data-target="#author{{post.author.id}}-modal" href="#">{{ post.author.name }}</a> em {{ post.pub_date }}</p>
                    </div>

                 </div>
                <hr>

                <!--Modal HTML code-->
                {% include 'partials/author_modal.html' %}

                {% endfor %}

                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr>

{% endblock content %}

